/.MagicSHACLGenerator.java._trace
/.MagicSHACLGenerator.xtendbin
/.SimpleGenerator.java._trace
/.SimpleGenerator.xtendbin
/.TurtleGenerator.java._trace
/.TurtleGenerator.xtendbin
/MagicSHACLGenerator.java
/SimpleGenerator.java
/TurtleGenerator.java
