<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="MagicSHACLEditorAdvisorApplication">
      <!-- @generated magicSHACL -->
      <application>
         <run class="magicSHACL.presentation.MagicSHACLEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated magicSHACL -->
      <perspective
            name="%_UI_Perspective_label"
            class="magicSHACL.presentation.MagicSHACLEditorAdvisor$Perspective"
            id="magicSHACL.presentation.MagicSHACLEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated magicSHACL -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated magicSHACL -->
      <key
            commandId="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated magicSHACL -->
      <actionSet
            label="%_UI_MagicSHACLEditorAdvisor_ActionSet_label"
            visible="true"
            id="MagicSHACLEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="magicSHACL.presentation.MagicSHACLEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="magicSHACL.presentation.MagicSHACLEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenURICommand"
               class="magicSHACL.presentation.MagicSHACLEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenCommand"
               class="magicSHACL.presentation.MagicSHACLEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="magicSHACL.presentation.MagicSHACLEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated magicSHACL -->
      <actionSet
            label="%_UI_MagicSHACLModelWizard_ActionSet_label"
            visible="true"
            id="magicSHACL.presentation.MagicSHACLActionBarContributorActionSet">
         <action
               label="%_UI_MagicSHACLModelWizard_label"
               class="magicSHACL.presentation.MagicSHACLActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="magicSHACL.presentation.MagicSHACLActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated magicSHACL -->
      <editor
            id="magicSHACL.presentation.MagicSHACLEditorID"
            name="%_UI_MagicSHACLEditor_label"
            icon="icons/full/obj16/MagicSHACLModelFile.gif"
            extensions="magicshacl"
            class="magicSHACL.presentation.MagicSHACLEditor"
            contributorClass="magicSHACL.presentation.MagicSHACLActionBarContributor">
      </editor>
   </extension>

</plugin>
