/.Distance.java._trace
/.Distance.xtendbin
/.Speed.java._trace
/.Speed.xtendbin
/.Time.java._trace
/.Time.xtendbin
/.Units.java._trace
/.Units.xtendbin
/Distance.java
/Speed.java
/Time.java
/Units.java
